Mod05/FN.Store/FN.Store.WCFData.CLI/Service References/Clientes/ClienteService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcpm-wcf.azurewebsites.net/service/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FN.Store.WCFData.Model" />
  <xs:element name="ObterTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FN.Store.WCFData.Model" minOccurs="0" name="ObterTodosResult" nillable="true" type="q1:ArrayOfClienteVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FN.Store.WCFData.Model" minOccurs="0" name="ObterPorIdResult" nillable="true" type="q2:ClienteVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>