Mod05/FN.Store/FN.Store.WCFData.CLI/Service References/Clientes/ClienteService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FN.Store.WCFData.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FN.Store.WCFData.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClienteVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteVM" nillable="true" type="tns:ClienteVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteVM" nillable="true" type="tns:ArrayOfClienteVM" />
  <xs:complexType name="ClienteVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataLog" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteVM" nillable="true" type="tns:ClienteVM" />
</xs:schema>