Mod05/FN.Store/FN.Store.WCFData.CLI/Service References/Clientes/ClienteService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcpm-wcf.azurewebsites.net/service/ClienteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcpm-wcf.azurewebsites.net/service/ClienteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcpm-wcf.azurewebsites.net/service/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FN.Store.WCFData.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteService_ObterTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterTodos" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ObterTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ObterPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterPorId" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ObterPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteService">
    <wsdl:operation name="ObterTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ObterTodos" message="tns:IClienteService_ObterTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ObterTodosResponse" message="tns:IClienteService_ObterTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ObterPorId" message="tns:IClienteService_ObterPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ObterPorIdResponse" message="tns:IClienteService_ObterPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteService" type="tns:IClienteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterTodos">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ObterTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterPorId">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ObterPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClienteService" binding="tns:BasicHttpBinding_IClienteService">
      <soap:address location="http://wcpm-wcf.azurewebsites.net/service/ClienteService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>